<h2>Welcome, <%= @user.email %></h2>

<form action="/Topics/new" method="post">
  <input type="text" name="title">
  <input type="submit" value="Create Topic">
</form>

<% @topics.each do |topic| %>
  <a href="/topics/<%="#{topic.id}"%>"><%="#{topic.title}"%></a>

  <% @resources = Helper.get_resources(topic) %>
  <% @resources.each do |resource| %>
  <p><%= resource.title %></p>
  <p><%= resource.content %></p>
  <p>------------------------------</p>
  <% end %>

  <form action="/Resources/new/<%="#{topic.id}"%>" method="post">
    <input type="text" name="title" value="title">
    <input type="text" name="content">
    <input type="submit" value="add a resource">
  </form>

  <form action="/topics/edit/<%="#{topic.id}"%>" method="get">
    <input type="submit" name="edit" value="Edit">
  </form>
  <form action="/topics/delete/<%="#{topic.id}"%>" method="post">
    <input type="submit" name="delete" value="Delete">
  </form>
<%end%>
